body { overflow-x: hidden;}

a {outline:none !important;
}
.font {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-weight:600;
	font-weight:700;
	font-family: 'Cookie', cursive;
}

/* ___________________ yellow_line __________________ */
.line_y {
	background:#ffde00;
	height:5px;
}

/* ___________________ end ___________________________ */

.top_block {
	background:#1e1e1e;
	padding:8px 0 3px 0;
	
}
.call_now {padding:1px 0 7px 0;	
}

.text_wrap1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#189799;
}

/*_________________________________________________________________________________________________________razmer nouta_________  .span6 img {max-width:100%;
  } */

.slider_wrap {
	width:100%;
	margin:0 auto;
	position:relative;
}


/* ____________________________ social links _________________________________________ */

.follow_us {text-align:right;
}
.follow_us ul li {
	padding:0;
	margin:3px 10px 0px 8px;
	display:inline-block;
	line-height:21px;
}

a.Delicious {
	margin-right: -10px;
}

.follow_us ul li span {padding-right:5px;
}
.follow_us a {
	background-image:url(../img/social_btn.png);
	background-repeat:no-repeat;
	height:15px;
	display:block;
	text-indent:-9999px;
	text-align:left;
	background-position:20px 21px;
	
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.follow_us a.Facebook {
background-position:0 0;
width:9px;
}
.follow_us a.Facebook:hover {background-position:0 -15px;
}
.follow_us a.Vimeo_2 {
background-position:-27px 0;
width:16px;
}
.follow_us a.Vimeo_2:hover {background-position:-27px -15px;
}
.follow_us a.Tumbler {
background-position:-61px 0;
width:15px;
}
.follow_us a.Tumbler:hover {background-position:-61px -15px;
}
.follow_us a.twitter {
background-position:-91px 0;
width:19px;
}
.follow_us a.twitter:hover {background-position:-91px -15px;
}

.follow_us a.Delicious {
background-position:-128px 0;
width:14px;
}
.follow_us a.Delicious:hover {background-position:-128px -15px;
}

/* ______________________________ social links end _________________________________________ */

/* __________________________________computer____________________________________________ */



.corusel_pic {
position:absolute;

}

.comp_btn_left a {
background:url(../img/strelka_left.png) no repeat;

}



/* __________________________________end computer____________________________________________ */

/* ______________________________span3_button_______________________________________________ */

a.shesternya {
	padding:0;
	margin:0px 10px 0px 0px;
	display:inline-block;
	line-height:21px;
}

a.shesternya{
	background-image:url(../img/shesternya.png);
	background-repeat:no-repeat;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#189799;
	display:block;
	text-align:left;
	background-position:20px 21px;
	padding:19px 0 19px 76px;
	
	transition: all 0.0s ease-in-out;
	-moz-transition: all 0.0s ease-in-out;
	-webkit-transition: all 0.0s ease-in-out;
	-o-transition: all 0.0s ease-in-out;
}
a.shesternya {
background-position:19px 20px;
}

a.shesternya:hover { background-position:19px -310px; color:#3b3b3b; text-decoration:none;}

a.tree {
	padding:0;
	margin:0px 10px 0px 0px;
	display:inline-block;
	line-height:21px;
}

a.tree{
	background-image:url(../img/tree.png);
	background-repeat:no-repeat;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#189799;
	display:block;
	text-align:left;
	background-position:20px 21px;
	padding:19px 0 19px 76px;
	
	transition: all 0.0s ease-in-out;
	-moz-transition: all 0.0s ease-in-out;
	-webkit-transition: all 0.0s ease-in-out;
	-o-transition: all 0.0s ease-in-out;
}
a.tree {
background-position:19px 20px;
}

a.tree:hover {
background-position:19px -310px; color:#3b3b3b; text-decoration:none;}

a.earth {
	padding:0;
	margin:0px 10px 0px 0px;
	display:inline-block;
	line-height:21px;
}

a.earth{
	background-image:url(../img/earth.png);
	background-repeat:no-repeat;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#189799;
	display:block;
	text-align:left;
	background-position:20px 21px;
	padding:19px 0 19px 76px;
	
	transition: all 0.0s ease-in-out;
	-moz-transition: all 0.0s ease-in-out;
	-webkit-transition: all 0.0s ease-in-out;
	-o-transition: all 0.0s ease-in-out;
}
a.earth {
background-position:19px 20px;
}

a.earth:hover {
background-position:19px -310px; color:#3b3b3b; text-decoration:none;}

a.star {
	padding:0;
	margin:0px 10px 0px 0px;
	display:inline-block;
	line-height:21px;
}

a.star{
	background-image:url(../img/star.png);
	background-repeat:no-repeat;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#189799;
	display:block;
	text-align:left;
	background-position:20px 21px;
	padding:19px 0 19px 76px;
	
	transition: all 0.0s ease-in-out;
	-moz-transition: all 0.0s ease-in-out;
	-webkit-transition: all 0.0s ease-in-out;
	-o-transition: all 0.0s ease-in-out;
}
a.star {
background-position:19px 20px;
}

a.star:hover {
background-position:19px -310px; color:#3b3b3b; text-decoration:none;}








.btn_hvr {
background:#1e1e1e;
margin:0 auto;
margin-bottom:10px;
min-height:77px;
}

.btn_hvr:hover {
background:#ffde00;
}

/* ______________________________end_span3_button___________________________________________ */

.link_gr {
	margin-left:15px;
}

.header {
	background:#fff;
	padding-top:46px;
}

.call_us {
	float:right;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#bdbdbd;
}

#main_slider {
	background:#ffde00;
	padding:26px 0 25px 0;
}

#main_slider .carousel-control {
  position: absolute;
  top: 40%;
  
  width: 16px;
  height: 26px;
}

.comp_btn_left a {
	left:-65px;
	background: url(../img/comp_arrow_left.png) no-repeat;
}

.comp_btn_right a {
	right: -65px;
	background: url(../img/comp_arrow_right.png) no-repeat;
}

.fleft {
	color: #c5c5c5;
}

.fleft a {
	text-decoration: none;
	color: #9c9c9c;
}

.fleft a:hover {
	color: #189799;
}

.fleft {float:left;
}
.fright {float:right;
}

.fright a {color: #189799; text-decoration: none;}
.fright a:hover { color: #1e1e1e;}

.clear {
	height:0;
	clear:both;
	font-size:0;
}
.rounded {
	overflow:hidden;
	position:relative;
}
#main_slider .rounded {
	width:315px;
	box-shadow:0 1px 1px #a9f000;
}


/* _________________________ content2 ___________________________________ */

.rounded {
background:#1e1e1e;
width:270px;
height:77px;
}

.rounded:hover {
background:url(../img/earth_y.jpg);
width:270px;
height:77px;
}

/* ___________________________ end ______________________________________ */

.inset_shadow {
	position:absolute;
	z-index:10;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
}
.inset_shadow:hover {background:url(../img/earth_y.jpg) no-repeat;
}

#main_slider .fleft {margin:30px 54px 28px 0;
}
#main_slider .fright {margin:30px 0 28px 54px;
}
#main_slider p {
	padding:0 0 25px 0;
	margin:0;
	line-height:25px;
	font-size:18px;
	color:#fff;
	text-shadow:1px 1px 1px #618803;
}
#main_slider .item h2 {
	padding:26px 0 28px 0;
	margin:0;
	line-height:58px;
	font-size:63px;
	color:#fff;
	text-shadow:1px 1px 1px #618803;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:-1px;
}
.slide_btn {
	background:#2d2d2d;
	display:inline-block;
	margin-top:6px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
}
.slide_btn:hover {
	background:#626262;
	text-decoration:none;
}
.slide_btn span {
	line-height:48px;
	height:48px;
	display:block;
	padding:0 52px 0 23px;	
	color:#fff;
	text-shadow:0 -1px 1px rgba(0,0,0, 0.3);
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	background:url(../img/btn_arrow.png) no-repeat right center;
}
.planning {
	padding-top:70px;
	padding-bottom:68px;
}
.planning .rounded {
	width:270px;
	margin:0 auto 16px auto;
}
.planning p {
	padding:0 1px 14px 1px;
	margin:0 auto;
}
.planning h4, .profile h4 {
	padding:0 0 10px 0;
	margin:0;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:16px;
	color:#444444;	
}
.planning .btn {margin-bottom:30px;
}

.separator {
	background:#d9d9d9;
	height:1px;
	margin-bottom:40px;
}
.welcome_block {
	text-align:center;
	padding-bottom:40px;
	line-height:28px;
	font-size:18px;
	color:#3b3b3b;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
.welcome_block span {
	font-size:30px;
}

.block {
	padding-top:29px;
	padding-bottom:50px;
}
h2.title {
	display:inline-block;
	padding:0;
	margin:0 0 13px 0;
	line-height:38px;
	font-size:21px;
	color:#1e1e1e;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
}

.title2 b{
	float:right;
	display:inline-block;
	width:99px;
	height:21px;
	background:#1e1e1e;
	text-align:center;
	margin-top:15px;
	margin-right:50px;
	font-size:10px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}

.title2 b:hover {
	background:#ffde00;
	color:#1e1e1e;
}

h2.title a {
	text-decoration: none;
	font-size:24px;
	color:#189799;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
h2.title a:hover {
	color:#1e1e1e;
	text-decoration:none;
}
h2.title span {
	text-transform: uppercase;
	line-height:20px;
	display:inline-block;
	padding-right:2px;
}
.block ul, .clients_logo ul, .follow_us ul, #footer ul {
	padding:0;
	margin:0;
	list-style:none;
}
.block li, .clients_logo li, #footer li {
	padding:0;
	margin:0;
}
.featured_news li {	margin-bottom:10px;
}
.featured_news li a {text-decoration:underline;
}
.featured_news li a:hover {text-decoration:none;
}
.round_date {
	margin:4px 29px 6px 0;
	float:left;
	width:67px;
	height:49px;
	background:#f9f9f9;
	border:2px #81b703 solid;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	padding-top:18px;
	text-align:center;
	font-size:12px;
	color:#80b600;
	line-height:16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
.round_date span {
	display:block;
	font-size:22px;
	line-height:18px;
	font-weight:600;
}
.block h6 {
	padding:3px;
	margin:0 0 6px 0;
	line-height:20px;
	color:#444444;
	font-family: Arial;
	font-size:13px;
	font-weight:bold;
}
.block h6 a {
	color:#444444;
	font-family: Arial;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}
.block h6 a:hover {
	color:#80b600;
	text-decoration:underline;
}

.accordion {
}
.accordion h3 {
	padding: 23px 0 21px 14px;
	margin:0;
	font-size:13px;
	line-height:29px;
	color:#444444;
	cursor: pointer;
	height:29px;
	position:relative;
	text-transform:none;
	font-weight:bold;
	background: url(../img/white_points.png) repeat-x left bottom #f4f4f4;
}
.accordion h3:first-child {border-top:1px #a6a6a6 dotted;
}
.accordion h3.active:first-child {border-top:0;
}
.accordion h3.active {
	padding: 0 0 4px 15px;
	color:#80b600;
	background:none;
	margin-top:15px;
}
.accordion h3 span {
	line-height:27px;
	display:block;
	padding:0 0 2px 32px;
	background:url(../img/h3_plus.png) no-repeat left top;
}
.accordion h3.active span {background:url(../img/h3_minus.png) no-repeat left top;
}
.accordion .accord_cont {
	padding:0 0 12px 0;
	display: none;
	background:url(../img/white_points.png) repeat-x left bottom;
}
.accordion .accord_cont p {
	margin:0;
	padding:0 0 7px 0;
}

.clients_logo {
	padding:45px 0 35px 0;
	background:#80b600;
	line-height:42px;
}
.clients_logo a {color:#6e9c00;	
}
.clients_logo a:hover {
	color:#fff;	
	text-decoration:none;
}
.clients_logo a.lobster {
	font-family: 'Lobster', cursive;	
	font-size:40px;
}
.clients_logo a.allura {
	font-family: 'Allura', cursive;	
	font-size:49px;
}
.clients_logo a.oswald {
	font-family: 'Oswald', sans-serif;
	font-size:34px;
}
.clients_logo a.cookie {
	font-family: 'Cookie', cursive;
	font-size:51px;
}
.clients_logo a.yanonekaffeesatz {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size:40px;
}
.clients_logo a.anton {
	font-family: 'Anton', sans-serif;
	font-size:36px;
}
.clients_logo li {
	display:inline-block;
	margin-right:28px;
}
#footer {
	border-top: 1px solid #d5b900;
	background:#ffde00;
	padding-top:29px;
}
#footer h2.title {
	color:#1e1e1e;
	font-size:21px;
}
#footer p {
	font-family: 'Arial', sans-serif;
	font-size:11px;
	color:#1e1e1e;
	line-height:16px;
	padding:0 0 6px 0;
	margin:0;
}
#footer .btn_more {margin-top:3px;
}
#footer .span3 { padding-bottom:5px;
}

#footer li:last-child {	border-bottom:0;
}
#footer li a.italic {
	display:block;
	font-style:italic;
	font-size:13px;
	color:#8b8b8b;
	padding-top:6px;
}
#footer li a.italic:hover {
	color:#80b600;
	text-decoration:none;
}
#footer li img {
	float:left;
	margin-right:29px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.author {color:#8b8b8b;
}
.author a {color:#1e1e1e;
}
.author a:hover {text-decoration:underline;
}

.footer_bottom {
	background:#1e1e1e;
	margin-top:16px;
	padding-top:33px;
	border-bottom: 4px solid #189799;
}
.copyright {
	font-family: 'Arial', sans-serif;
	font-size:12px;
	color:#515151;
	
}
.copyright a {
	color:#767676;
	text-decoration:none;
}
.copyright a:hover {text-decoration:underline;
}
.foot_menu {
	text-align:right;
	margin-bottom:36px;
}
.foot_menu li {
	display:inline-block;
	padding:0 14px 0 0 !important;
	border:0 !important;
	margin:0 10px 0 0 !important;
	
}
.foot_menu li:last-child {
	padding:0 !important;
	margin:0 !important;
	background:none;
}
.foot_menu li a {
	text-decoration:none;
	text-transform:uppercase;
	color:#515151;
	font-size:12px;
}
.foot_menu li a:hover, .foot_menu li a.current {
	color:#7b7b7b;
	text-decoration:none;
}

/*----------- Back to top --------------*/
#toTop {
  display: none;
  width: 41px;
  height: 40px;
  overflow: hidden;
  background-image:url(../img/back_top.png);
  background-repeat:no-repeat;
  background-position:0 0;
  position: fixed;
  margin-right: -640px !important;
  right: 50%;
  bottom: 60px;
  z-index: 999;
}
#toTop:hover {background-position:0 -41px;
}

/*#footer input[type="text"] {
	margin:6px 0 25px 0 !important;
	padding: 10px 6px !important;
	font-size: 13px;
	color: #ffde00;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;	
	background-color: #323232;
	border: 1px solid #151515;
	border-bottom-color:#323232;
	border-right-color:#323232;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, 0.5) inset;
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, 0.5) inset;
	  box-shadow: 1px 1px 1px rgba(0,0,0, 0.5) inset;		  
} */

#footer textarea, #footer input[type="text"]  {	
	background-color: #1e1e1e;
	border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  	font-size:12px;
	color:#ffde00;
	font-weight:normal;
	font-family:Arial;  
	
}

#footer textarea {
	min-height: 102px !important;
}

/*nav*/
.navbar_ .container { position: relative;
}
.nav-collapse_ {
  float:right;
}
.nav-collapse_ .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}
.nav-collapse_ .nav > li {
  padding: 0 1px 0 0;
  
}
.nav-collapse_ .nav > li:last-child {
  padding: 0;
  background:none;
}
.nav-collapse_ .nav li a {
  line-height:20px;
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:12px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  padding:7px 22px; 
  text-align:left;
}
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  color: #189799;
  
   
}

.first_letter {
color:#189799;
}

.sub-menu > a {
  position: relative;
}
.nav-collapse_ .nav > li.sub-menu > a:before {
  content: " ";
  position: absolute;
  width: 7px;
  height: 6px;
  right: 50%;
  top: 50%;
  margin: 10px -3px 0 0;
}
.nav-collapse_ .nav > li.sfHover > a:before,
.nav-collapse_ .nav > li.sfHover > a:hover:before,
.nav-collapse_ .nav > li > a:hover:before,
.nav-collapse_ .nav > li.active > a:before,
.nav-collapse_ .nav > li.active > a:hover:before { background: url('../img/li-marker_w.png') left top no-repeat;
}

.nav-collapse_ .nav ul {
  position: absolute;
  display: none;
  width: 158px;
  left: 0px;
  top: 42px;
  list-style: none;
  zoom: 1;
  z-index: 25;
  background:#fff;
  border-top:2px #ffde00 solid;
  padding: 0;
  margin: 0;
}
.nav-collapse_ .nav > li li.sub-menu > a:before {
  content: " ";
  position: absolute;
  background: url('../img/li-marker.png') left top no-repeat;
  width: 7px;
  height: 6px;
  right: 10px;
  top: 13px;
}


.nav-collapse_ .nav ul li a {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  padding: 5px 10px 6px 20px;
  background: none;
}
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a,
.nav-collapse_ .nav > li > ul li.active > a {
  text-decoration: none;
  color:#189799;
    background: none;
}
.nav-collapse_ .nav > li > ul li > a:hover:before,
.nav-collapse_ .nav > li > ul li.sfHover > a:before { background: url('../img/li-marker_w.png') left top no-repeat;  
}

.nav-collapse_ .nav ul ul {
  position: absolute;
  display: none;
  width: 158px;
  left: 158px;
  top: 0;
  height: auto;
  list-style: none;
  z-index: 111;
  padding: 0;
  margin: 0;
}

.page_container {
	padding-bottom:28px;
	background:#fff;
}

.breadcrumb {
  padding: 19px 0;
  margin: 0 0 20px 0;
  list-style: none;
  background:#ffde00;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}
.breadcrumb span {
  color:#4d6d00;
  padding:0 5px;
}
.breadcrumb a {
  color:#1e1e1e;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:19px;
}

.profile {text-align:center;
}
.profile_title {
	font-size: 14px;
    font-style: italic;
	margin-bottom:5px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
.profile .rounded {
	margin:10px auto 15px auto;
	width:169px;
}

legend {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

.menu_bd {
margin-top:-55px;
}

/* Portfolio */

/* ________________ competer text _________________________ */

.content1_text h2 {
	margin:0 0 0 0;
	padding-top:45px;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:50px;
	color:#1e1e1e;
	text-align:right;
	line-height:55px;
}

.content1_text h3 {
	margin:0 0 0 0;
	padding-top:20px;
	padding-bottom:10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:20px;
	color:#1e1e1e;
	text-align:right;
	line-height:20px;
}

.content1_text h4 {
	margin:0 0 0 0;
	padding-top:9px;
	display:block;
	font-family: 'Arial', sans-serif;
	font-size:12px;
	color:#1e1e1e;
	text-align:right;
	line-height:15px;
}

/* ________________ competer text _________________________ */

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.element {
  overflow: hidden;
  position: relative;
}
.element img {max-width:100%;
}

#options {padding:0 0 10px 0;
}
#filters {
	position: relative;
	padding:0;
	margin:25px 0 0 0;
}
#filters li {
	display: block;
	margin:0 10px 10px 0;
	float: left; 
	padding:0;
	list-style:none;
}
#filters li a.selected {
	color: #fff;
	text-shadow:0 -1px 1px rgba(0,0,0, 0.4);
	background:#189799;
	text-decoration:none;
}
.preloader {
	background:url(../img/preload_img.gif) center center no-repeat;
	display:block;
}

.hover_img {
	position:relative;
	background:#189799;
}
.item_description {
	background:#FFF;
	border-bottom:1px #CCC solid;
	padding:5px 20px 20px 0;
	margin-bottom:30px;
}

.portfolio_zoom, .portfolio_link {
	display:none;
	width:33px;
	height:33px;
	position:absolute;
	left:50%;
	bottom:40px;
	margin:0 0 0 -35px;
	background-image:url(../img/zoom.png);
	background-position:0 0;
	background-repeat:no-repeat;
	z-index:2;
}
.portfolio_link {
	margin:0 0 0 4px;
	background-image:url(../img/link.png);
}
.portfolio_zoom:hover, .portfolio_link:hover {background-position:0 -40px;
}

.portfolio_descr {
	display:none;
	position:absolute;
	left:20px;
	right:20px;
	top:20px;
	z-index:5;

}

.hover_img:hover  .portfolio_descr {
	display:block;
}

.portfolio_zoom a, .portfolio_link a {
	display:block;
	width:45px;
	height:45px;
	text-indent:-9999px;
}
.hover_img:hover .portfolio_zoom, .hover_img:hover .portfolio_link { display:block;
}


#portfolio_carousel {margin-bottom:20px;
}
#portfolio_carousel .carousel-control {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 41px;
  height: 40px;
  margin-top: -20px;
  background-image:url(../img/horizontal_arrows.png);
  background-position:0 0;
  background-repeat:no-repeat; 
  outline:none;
}
#portfolio_carousel .carousel-control.right {
	background-position:-47px 0; 
	left:auto;
	right:15px; 
}
#portfolio_carousel .carousel-control.right:hover {
	background-position:-47px -41px;  
}
#portfolio_carousel .carousel-control:hover {background-position:0 -41px;
}
.pad25 { padding-top:25px;
}
.pad5 { padding-top:5px;
}
.marg20 { margin-top:20px !important;
}

.post {padding-bottom:40px;
}
.post h2.title {margin-bottom:21px;
}
.post img {
	margin-bottom:18px;
	max-width:100%;
}
.post_info {
	padding:5px 0;
	border-bottom:1px #d9d9d9 solid;
	border-top:1px #d9d9d9 solid;
	margin-bottom:12px;
	color:#747474;
}
.post_info span {color:#189799;
}

a.arrow_link {
	text-decoration: none;
	color: #189799;
}

a.arrow_link:hover {
	color: #1e1e1e;
}

.arrow_link {
	padding-right:23px;
	background:url(../img/arrow_link.png) no-repeat right center;	
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.arrow_link:hover {padding-right:28px;
}

.sidebar { padding-top:9px;
}
.widget { margin-bottom:25px;
}
.sidebar h2.title {
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:18px;
}

ul.recent_post, ul.tweets, ul.links {
	padding:0;
	margin:0;
	list-style:none;
}
ul.recent_post li {
	padding:0 0 8px 0;
	margin-bottom:13px;
	border-bottom:1px #d9d9d9 solid;
	color:#189799;
}
ul.recent_post li:last-child {
	border-bottom:0;
	margin-bottom:18px;
}
ul.recent_post li img {
	float:left;
	margin-right:29px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
ul.recent_post div {padding:3px 0 2px 0;
}
ul.recent_post div a {
	font-weight:bold;
	color:#747474;
}

ul.tweets {
	b
}

ul.tweets li {
	padding:10px 12px;
	box-shadow:0 0 0px #a6a6a6;
	background: url(../img/footer_twit_img.png) no-repeat;
	font-family: 'Arial', sans-serif;
	font-size:11px;
	color:#1e1e1e;
	text-indent: 30px
}

ul.tweets li a {
	text-decoration:none;
	font-family: 'Arial', sans-serif;
	font-size:11px;
	color:#1e1e1e;
}

ul.tweets li a:hover {
	text-decoration:underline;
}

.tweet_time {
	padding-top:8px;
	display:block;
}
.tweet_time a {
	font-style:italic;
	color:#646464;
}

.tags a {
	text-transform: uppercase;
	text-decoration: none;
	display:inline-block;
	margin:0 14px 16px 0;
	height:33px;
	line-height:33px;
	background-image:url(../img/tag_bg.png);
	background-position:100% 0;
	background-repeat:no-repeat;
	padding:0 26px 0 11px;
	border-left:1px #e3e3e3 solid;
	color:#189799;	
}
.tags a:hover {
	background-position:100% -33px;
	border-left:1px #80b600 solid;
	color:#fff;
	text-decoration:none;
}

ul.links {margin-bottom:15px;
}
ul.links li {
	padding:0 0 3px 17px;
	margin:0;
	color:#646464;
	background:url(../img/li_arrow.png) no-repeat left top;
}
ul.links li a {	text-decoration: none; color:#189799;
}
ul.links li a:hover {color:#1e1e1e;
} 

#comments {
	padding:0 0 7px 0;
	margin-bottom:25px;	
}
#comments ul {
	padding:0;
	margin:0;
	list-style:none;	
}
#comments ol {
	padding:0;
	margin:0;
	list-style:none;
}
#comments li {
	padding:0 0 23px 0;
	list-style:none;
}
.avatar {
	float:left;
	margin-right:11px;
	
}
.avatar img {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	opacity:0.8;
	
}
.comment_right {display:table;	
}

.comment_info {padding-bottom:7px; color: #c5c5c5;}
.comment_info span {padding:0 12px;
}

a.varius_sed  { text-decoration: none; color: #189799;}
a.varius_sed:hover { color: #1e1e1e;}

.comment_info a { text-decoration: none;color: #9c9c9c;}
.comment_info a:hover { color: #189799;}

#comments ol li ul li {
	padding:23px 0 0 30px;
	margin:0;
}
.sidebar  input.search-query {
  padding:5px 6px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#map {
	margin:0 0 15px 0;
	padding-top:6px;
}
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #80b600; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #80b600; }
.tipsy-arrow-s { border-top-color: #80b600; }
.tipsy-arrow-e { border-left-color: #80b600; }
.tipsy-arrow-w { border-right-color: #80b600; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

.contact_form { padding-top:6px;
}
.contact_form textarea { min-height:260px !important;
}


/* _______________________ featured works __________________________ */

.item img {

float:left;

}

.prbl_1 {
margin-left:0 !important;
}

.portfolio_descr h3 {
	text-transform: uppercase;
	padding-top:10px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:18px;
	color:#ffde00;
}

.portfolio_descr p {
	font-family: 'Arial', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#fff;
	text-align:center;
}

/* __________________________latest news_____________________________________ */

.prbl_2 {
	
}

.news_date {
	float:left;
	width:70px;
	height:70px;
	background:#ffde00;
	text-align:center;
	color:#1e1e1e;
	margin:0 20px 14px 0;
}

.news_date p {
	display:block;
	text-transform: uppercase;
	margin:0;
	padding-top:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:12px;
}

.news_date span {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:17px;
}

a.title, .item_description a {
	text-decoration:none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:17px;
	color:#189799;
}

a.title:hover,
.item_description a:hover {
	color:#000;
}

.posted  p{
	margin:0;
	margin-bottom:-7px;
	font-family: Arial, sans-serif;
	font-weight:400;
	color:#c5c5c5;
	font-size:11px;
}

.posted a{
	text-decoration:none;
	font-family: 'Arial', sans-serif;
	font-weight:400;
	font-size:11px;
	color:#9c9c9c;
}

.posted a:hover{
	color:#189799;
}

.news_text_in {
	clear:both;
	font-family: Arial, sans-serif;
	color:#1e1e1e;
	font-size:11px;
	line-height:18px;
}

.news_text_in a {
	padding-left:5px;
	text-decoration:none;
	color:#189799;
}

.news_text_in a:hover {
	color:#000;
}

/* ___________________________latest posts______________________________ */

.hover_img2 img{
	margin-bottom: 18px;
}

.latest {
	padding-top: 10px;
}

/* __________________________ latest twets__________________________________ */

.tweet_odd {
	border-bottom: 1px solid #edce00;
	padding: 3px 0 14px 0 !important;
}

.tweet_even {
	border-bottom: 1px solid #edce00;
	padding: 7px 0 14px 0 !important;
}

/* _____________________________ testimonials ______________________________________ */

.testimonials_prbl {
	padding-bottom: 3px;
	font-family: 'Arial', sans-serif;
	font-size:11px;
	color:#1e1e1e;
	line-height:16px;
	padding:0 0 11px 0;
	margin:0;
}


/* _____________________________ footer ____________________________________________ */

.ftr_twit img {
	float:left;
	margin:6px 10px 0 0;
}

.latest_tweets_line {
	border: 1px solid #edce00;
	margin-bottom: 15px;
}

.footer_logo {
	margin-bottom:12px;
}

#foot_search input[type="text"]  {	
	background-color: #464646;
	border: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  	font-size:12px;
	color:#1e1e1e;
	font-weight:normal;
	font-family:Arial;  
	max-width: 218px;
	text-align: right;
}

.foot_social {
	float:right;
	padding:7px 10px 0 0;
}

.foot_social a{
	background-image:url(../img/social_btn2.png);
	background-repeat:no-repeat;
	height:15px;
	display:block;
	text-indent:-9999px;
	text-align:left;
	background-position:20px 21px;
	
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	padding-right: 15px;
}

.search_footer1 {
	float: right;
	
}

[class*="span"] img {max-width: 100%;
	width: 100%;
}

.rounded {
	min-height: 171px;
}

a.contacts_link { color: #189799; text-decoration:none;}
a.contacts_link:hover { color: #1e1e1e;}

/* ____________________________ flickr _____________________________________ */
.flickrs {margin-right:-10px;
}
.FlickrImages li {
	margin:0 6px 6px 0 !important;
	padding:0 !important;
	float:left;	
	border:0 !important;
}
.FlickrImages li a {
	display:block;
	width:63px !important;
	height:63px !important;
	overflow:hidden;
	float:left;
	background:#189799;
}
.FlickrImages li a img {
	width:63px !important;
	height:63px !important;
	border:0;
}

a.ligula_link{ text-decoration: none !important; color: #189799;}
a.ligula_link:hover { color: #1e1e1e;}

.nav-list a { color: #189799; text-decoration:none;}
.nav-list a:hover {color:#1e1e1e;}


.projects .portfolio_zoom, .projects .portfolio_link {
 display:none;
 bottom:auto;
 top:50%;
 margin-top:-17px;
}

/* ________________________________________________ */

.title2 {position:relative;}

a.view_all_link {
	display: block;
	position:absolute;
	top: 0;    
    right:104px;
}

/* ___________________________ contact form ____________________________________ */

.notification_error {
	color: #b94a48;
	background-color: #f2dede;
	border:1px #eed3d7 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: left;
}
.notification_ok {
    color: #3a87ad;
	background-color: #d9edf7;
	border:1px #bce8f1 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: center;
}

/* _________________________ end contact form __________________________________ */



nav:not(.mm-menu)
{
	display: none;
}

.mobi-nav,
.content,
.footer
{
	text-align: center;
}
.mobi-nav,
.footer
{
	background: #777;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.mobi-nav.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.mobi-nav a
{
	background: center center no-repeat transparent;
	background-image: url(../img/mobi-nav.png);

	display: block;
	width:25px;
	height:18px;
	position: absolute;
	top: 0;
	left: 10px;
}



#menuDefault{ display:block;}
#menu{ display:none;}
.mobi-nav{display:none;}
.call_now{padding:0}


@media (min-width: 768px) and (max-width: 979px) {
	
#menuDefault{ display:none;}
#menu{ display:block;}
.mobi-nav{ display:block;}

.mobi-nav a{ position:relative; left:0; top:0}
.mobi-nav{display:block; padding:0; width:auto; width:25px; height:18px; position:absolute; right:29px; top: 16px; z-index: 80; background:none}
.menu-btn{position:absolute; right:0; top:0; z-index:70}



.nav-collapse_ .nav li a{color:#BDBDBD;}
.header{ padding:10px 0px}
.navbar{margin-bottom:0}
.us-btn{ width:230px !important;}


.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover{ background:none}


.mm-list > li > a{ color:#fff !important}
li.mm-subtitle .mm-subclose{ color:#fff !important}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {border-color:#fff !important;}
.mm-list a.mm-subclose:before { margin-bottom: -14px !important;}
.mm-list > li > a, .mm-list > li > span {text-transform: uppercase;font-size: 12px;}
.span50{ width:55% !important}	
.mobi-nav {top: 13px;}
.mm-menu .mm-list > li > a.mm-subopen:before{ display:none}	
.mm-list a.mm-subopen:after{ margin-bottom: -3px !important;}
}


@media (min-width: 320px) and (max-width: 767px) {

#menuDefault{ display:none;}
#menu{ display:block;}
.mobi-nav a{ position:relative; left:0; top:0}
.mobi-nav{display:block; padding:0; width:auto; width:25px; height:18px; position:absolute; right:29px; top: 16px; z-index: 80; background:none}
.menu-btn{position:absolute; right:0; top:0; z-index:70}



.nav-collapse_ .nav li a{color:#BDBDBD;}
.header{ padding:10px 0px}
.text_wrap1{ display:none}
.us-btn{padding-bottom:5px}
.navbar{margin-bottom:0}

.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover{ background:none}



.slider_wrap {left: -16px;}
.corusel_pic {width: 238px;}
.comp_btn_right a {right: -39px !important}
.mm-list > li > a{ color:#fff !important}
li.mm-subtitle .mm-subclose{ color:#fff !important}
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {border-color:#fff !important;}
.mm-list a.mm-subclose:before { margin-bottom: -14px !important;}
.mm-list > li > a, .mm-list > li > span {text-transform: uppercase;font-size: 12px;}
.mm-menu .mm-list > li > a.mm-subopen:before{ display:none}	
.mm-list a.mm-subopen:after{ margin-bottom: -3px !important;}

}









